<!DOCTYPE html>   
<html ng-app="cadClientes">   
<head>    
    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Cadastro de clientes</title>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">    
    <link rel="stylesheet" href="../css/index.css">   
    <script  src="../js/index.js" defer></script>      
    <script src="../angularJS/angular.js"></script> 
    <script src="../conexBD/conex.js"></script> 
    <script>     
     
        angular.module("cadClientes", []);    
        angular.module("cadClientes").controller("cadClientesController", function($scope, $http){   
            $scope.adicionar=[];      

            var carregaEmpresas = () => {    
                $http.get("http://localhost:3000/empresas").then(function (response) {
                $scope.adicionar = response.data
                });
            }
                carregaEmpresas ();
              

            $scope.adicionarCliente = (adiciona) => {      
              $http.post("http://localhost:3000/empresas", adiciona).then(function (response) {  
                    response.data.push(adiciona);
                    $scope.adicionar.push(angular.copy(adiciona));
                   console.log(response.data)
                    // console.log(adiciona.cnpj); // o valor digitado no front
                    // console.log(response.data); //API

                    });
                }     
        });       
    </script>   
   
</head>   
<body ng-controller="cadClientesController">      
        
        <div class="container">   
            <div id="projeto" >   
                <div class="panel panel-default">     
                    <div class="panel-heading">   
                        <h5 class="panel-title"><i class="fa fa-plus-circle fa-1x" aria-hidden="true" ></i> Formulário de Cadastro</h5>   
                    </div>    
                    
                    <div class="panel-body"><strong>      
                        <form name="clienteForm" method="POST">   
                            <div class="row marginB">     
                                <div class="col-md-4 ">   
                                    CNPJ:     
                                    <input type="text" ng-model="adiciona.cnpj"  class="form-control" name="cnpj" id="txtCNPJ" placeholder="">    
                                </div>    
                                <div class="col-md-7 marginB">    
                                    Nome da empresa:      
                                    <input type="text" ng-model="adiciona.NomeEmpresa" class="form-control" id="txtNomeEmpresa" name="NomeEmpresa" placeholder="">    
                                </div>    
                                <div class="col-md-2  ">      
                                    CEP:      
                                    <input type="text" ng-model="adiciona.cep" class="form-control" id="txtCEP" name="CEP"  placeholder="" >      
                                </div>        
                                <div class="col-md-6 ">   
                                    Endereço:     
                                    <input type="text" ng-model="adiciona.endereco" class="form-control" id="txtEndereco" name="endereco"  placeholder="" >   
                                </div>        
                                <div class="col-md-3 ">   
                                    Número:       
                                    <input type="text" ng-model="adiciona.numero" class="form-control" id="txtNumero" name="numero"  placeholder="" >     
                                </div>                            
                        </div>    
                            <div class="row marginB ">    
                                <div class="col-md-6">    
                                    Bairro    
                                    <input type="text" ng-model="adiciona.bairro" class="form-control" id="txtBairro" name="bairro" >     
                                </div>    
                                
                                <div class="col-md-2  ">      
                                    UF:   
                                    <select class="form-control"  name="UF"  >    
                                        <option value=""> SP </option>    
                                        <option value="Acre">AC</option>      
                                        <option value="Alagoas">AL</option>   
                                        <option value="Amapa">AP</option>     
                                        <option value="Amazonas">AM</option>      
                                        <option value="Bahia">BA</option>     
                                        <option value="Ceara">CE</option>     
                                        <option value="DistritoFederal">DF</option>   
                                        <option value="EspiritoSanto">ES</option>     
                                        <option value="Goiás">GO</option>     
                                        <option value="Maranhão">MA</option>      
                                        <option value="Mato Grosso">MT</option>   
                                        <option value="Mato Grosso do Sul">MS</option>    
                                        <option value="Minas Gerais">MG</option>      
                                        <option value="Para">PA</option>      
                                        <option value="Paraiba">PB</option>   
                                        <option value="Parana">PR</option>    
                                        <option value="Pernambuco">PE</option>    
                                        <option value="Piaui">PI</option>     
                                        <option value="RioDeJaneiro">RJ</option>      
                                        <option value="RioGrandeDoNorte">RN</option>      
                                        <option value="RioGrandeDoSul">RS</option>    
                                        <option value="Rondonia">RO</option>      
                                        <option value="Roraima">RR</option>   
                                        <option value="SantaCatarina">SC</option>     
                                        <option value="SaoPaulo">SP</option>      
                                        <option value="Sergipe">SE</option>   
                                        <option value="Tocantins">TO</option>     
                                        <option value="Estrangeiro">EX</option>   
                                    </select>     
                                </div>    
                                <div class="col-md-3 marginB">    
                                    Cidade:       
                                    <select class="form-control "  name="cidade" >    
                                        <option value="SP"> São Paulo </option>   
                                        <option value="AC">Acre</option>      
                                        <option value="AL">Alagoas</option>   
                                        <option value="AP">Amapá</option>     
                                        <option value="AM">Amazonas</option>      
                                        <option value="BA">Bahia</option>     
                                        <option value="CE">Ceará</option>     
                                        <option value="DF">Distrito Federal</option>      
                                        <option value="ES">Espírito Santo</option>    
                                        <option value="GO">Goiás</option>     
                                        <option value="MA">Maranhão</option>      
                                        <option value="MT">Mato Grosso</option>   
                                        <option value="MS">Mato Grosso do Sul</option>    
                                        <option value="MG">Minas Gerais</option>      
                                        <option value="PA">Pará</option>      
                                        <option value="PB">Paraíba</option>   
                                        <option value="PR">Paraná</option>    
                                        <option value="PE">Pernambuco</option>    
                                        <option value="PI">Piauí</option>     
                                        <option value="RJ">Rio de Janeiro</option>    
                                        <option value="RN">Rio Grande do Norte</option>   
                                        <option value="RS">Rio Grande do Sul</option>     
                                        <option value="RO">Rondônia</option>      
                                        <option value="RR">Roraima</option>   
                                        <option value="SC">Santa Catarina</option>    
                                        <option value="SP">São Paulo</option>     
                                        <option value="SE">Sergipe</option>   
                                        <option value="TO">Tocantins</option>     
                                        <option value="EX">Estrangeiro</option>   
                                    </select>     
                                </div>                                
                            </div>    
                            <div class="alinhamento">     
                                <button class="btn btn-md btn-default border" ><i class="fa fa-times-circle" aria-hidden="true"></i>Cancelar</button>                 
                                <button class="btn btn-primary btnSalvarSize" id="send" ng-click="adicionarCliente(adiciona)"  ng-disabled="!adiciona.cnpj || !adiciona.NomeEmpresa"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>    
                            </div>    
                            </div>    
                        </form>   
                    </strong>     
                    </div>    
                </div>    
                <br>      
                Empresas Cadastradas      
                <strong>      
                        <table class="table table-bordered table-striped table-responsive">   
                        <tr>      
                            <td style="text-align:center;">CNPJ</td>      
                            <td style="text-align:center;" >Nome da Empresa</td>      
                            <td style="text-align:center;">Acoes</td>     
                            </td>                                 
                        </tr>     
                        <tr ng-repeat="adiciona in adicionar">    
                            <td>{{adiciona.cnpj}}</td>    
                            <td>{{adiciona.NomeEmpresa}}</td>     
                            <td style="text-align:center"> <button class="edit" type="button"><u>Edit</u></button></td>   
                        </table>                          
                    </div>    
                </div>    
            </div>    
                        </strong>     
                        </div>    
                    </div>    
                </div>    
            </div>    
        </div>    
</body>   
</html>   